body{
     background-image:url("snack.png") ;
            background-size: 100% 100%;
      
}
.but{
    padding: 25px;
    border: double 2px black;
    width:150px;
    margin-top: 500px;
    margin-left: 600px;
    text-decoration: none;
    text-transform: uppercase;
color: black;
cursor: pointer;
transition: 1s;
border-radius:15px ;
}
.but:hover{
    padding: 20px;
transition: 1s;
}
p{
background-color: blue;
width: 250px;
padding: 30px;
color:aliceblue;
font-family: cursive;
font-size: 25px;
position: absolute;
left: 850px;
top:600px;
border-radius:30px ;
}
#first
{
    width:100%;
    height:200%;
    cursor: pointer;
    font-size: 100px;
    text-align: left;
    
}
