#imgdiv{
 height:100%;
 width:100%;
 border-radius: 25px;
}
.photos{
    width:30%;
    height:50%;
 
   display:inline-block;
margin-left: 170px;
margin-top: 30px;
transition: 0.3s;
}
.img1{
    height:100%;
    width:100%;
    border-radius:20px;
}
.photosolo{
margin-top:120px;

width:50%;
height:40%;
margin-left: 25%;
}
#a{
    border-radius:15px;
    background-color:rgba(85, 83, 194, 0.185);
    width:80%;
    height:15%;
    border:2px,double,rebeccapurple;
    margin-top:60px;
    margin-left:10%;
    font-size:30px;
    font-family:Harrington;
    text-align:center;
    transition:2s;   
}
#a:hover{
background-color: black;
transition:2s;
box-shadow:10px 10px 10px red;
color:red;
text-decoration: uppercase;
}
.photos:hover{
    border: double,2px rgb(0, 0, 0);
    padding: 9px;
    background-image:url("1363709.png");
    border-radius:15px;
    transition: 0.1s;
    box-shadow:10px 10px 10px rgb(0, 0, 0);
}
.photosolo:hover{
    border: double,2px rgb(0, 0, 0);
    padding: 9px;
    background-image:url("1363709.png");
    border-radius:15px;
    transition: 0.1s;
    box-shadow:10px 10px 10px rgb(0, 0, 0);
}

