#imgentete{
    height:100%;
    width:100%;
    border-radius: 50px;
}
.div1{
    height:400px;
    width:300px;
    border:double 2px;
    display:inline-block;
    margin-left:5%;
    margin-top: 5%;
    border-radius: 30px;
    background-color: rgba(116, 235, 199, 0.2);
    text-decoration:none;
    color:black;
    transition:0.2s;
}
#imgdiv{
    height: 70%;
    width: 100%;
    border-radius: 30px;;
  
}
#p1{
   
    padding: 10px;
  font-family: cursive;
  text-align: center;
  font-size: 20px;
  margin-top:1.5px;
  background-color: rgba(39, 124, 194, 0.4);
}
#p2{
    
    padding: 6px;
    margin-top:2.5px;
    font-family: system-ui;
    text-align: center;
    background-color: rgba(219, 54, 54, 0.4);
}
.div1:hover{
    padding: 10px;
    transition:0.4s;
}