body{
   
    background: url("images/inscription.jpg");
     background-size: 100% 100%;
}
h1{
    text-align: center;
    border: double,2px;
    border-radius: 15px;
    width: 80%;
    margin-left:170px;
    height:5%;
}
#nouvelleConnexion{
    margin-top: 5%;
    margin-left: 30%;
    background: rgba(0,0,200,0.7);
    width: 40%;
    height: 66%;
    border: double 2px;
    border-radius:15px;
    

}
h2{
color: aliceblue;
font-family: Arial;
font-size: 35px;
font-weight: bold;
}
.emailAndPasswordAndUserName{
     color: aliceblue;
    display: block;
    margin-left: 50px;
   
}
.email{
    font-family: Arial;
    display: inline-block;
     font-size: 25px;
     margin-left: 30px;
}
.password{
   font-family: Arial;
      margin-top: 50px;
        display: inline-block;
 font-size: 25px;
}
.user{
   font-family: Arial;
      margin-top: 50px;
        display: inline-block;
 font-size: 25px;
}
.date{
     font-family: Arial;
      margin-top: 50px;
        display: inline-block;
 font-size: 25px;
}
#button{
    margin-left: 40px;
    font-family: Arial;
    margin-top: 50px;
     font-size: 25px; 
}
h3{
    background-color: red;
    color: aliceblue;
    width:7%;
    height: 3%;
}